@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* PC version */
*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

body
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;    
    min-width: fit-content;
}

.header
{
    padding: 15px 100px;   
    margin: 0px; 
    background-color: whitesmoke;
    display: flex;        
    box-sizing: border-box;
    min-width: fit-content;           
    justify-content: center;      
}

.menu-container
{
    display: flex;
    column-gap: 18px;   
    margin-top: auto;
    margin-bottom: auto;    
    box-sizing: border-box;
    font-size: 20px;  
    margin-left: 60px;  
}

.menu-container p{color: gray;}
.menu-container p:first-child{color: black;}



.login
{
    background-color: white;        
    font-size: 25px;
    font-weight: 500;                        
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    border-radius: 10px;    
    padding: 10px 15px;
    margin-left: 90px;
}   

.main-container
{
    padding: 15px 100px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.logo
{
    margin-top: auto;
    margin-bottom: auto;
}