@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Mobile version */
@media screen and (min-width: 320px) and (max-width: 991px) 
{
    .header
    {
        padding: 15px 80px;
        height: 100px;    
    }

    /* #region Collapsible Menu */
    .collapsible
    {
        position: relative;        
        margin-left: 100px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .collapsible-menu
    {
        position: absolute;     
        left: 0;
        background-color: white;
        top: calc(100% + .9rem);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none;
        transition: transform 200ms ease-in-out;
        box-sizing: border-box;
        padding: 0 5px 5px 0;
    }

    .collapsible-menu p
    {
        font-size: 20px;
        color: gray;
        margin-top: 3px;
        background-color: white;
        letter-spacing: 0.06em;        
    }

    .collapsible-menu p:first-child
    {
        color: black;        
    }

    .drop-menu-button
    {
        border: 0px;
        text-decoration: none;
        background-color: whitesmoke;
        font-size: 30px;
        color: #833AE0;
        border-radius: 10px 0 0 0;        
    }

    .collapsible > .drop-menu-button:focus + .collapsible-menu
    {
        opacity: 1;
        transform: translateY(0px);
        pointer-events: auto;
    }
    /* #endregion */

    .login
    {               
        font-size: 20px;
        font-weight: 500;                        
        margin-top: 5px;        
        border-radius: 10px;                
        padding: 0 10px;
        height: 40px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 100px;
    }

    .logo
    {
        margin-top: auto;
        margin-bottom: auto;
    }

    #main-header
    {
        font-weight: 700;
        font-size: 45px;
        line-height: 42px;
    }
    
    .main-container
    {
        margin-right: auto;
        margin-left: auto;
        margin-top: 70px;
    }

    #main-header
    {
        margin: auto;
    }
    
    /* #region Converter */
    .converter
    {
        margin-right: auto;
        margin-left: auto;
    }
    
    .converter-wrapper
    {
        margin-right: auto;
        margin-left: auto;
    }

    .converter p
    {        
        font-size: 25px;
        line-height: 14px;     
    }

    .currency-container
    {
        max-width: 377px;
    }

    .currency-value
    {
        font-size: 28px;
    }

    .user-input
    {
        font-size: 65px;
        max-width: 450px;
    }
    
    /* #endregion */
}
